<%- include('../layouts/header.ejs') %>

    <div class="container">
        <div class="row mt-5"> <!-- Added margin top -->
            <div class="col-sm-12">
                <div class="w-50 mx-auto text-center">
                    <img src="/admin/imgs/theme/404.png" width="350" alt="Page Not Found">
                    <h3 class="mt-4 mb-3">Oops! Page not found</h3> 
                    <p class="mb-4">It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. Here's a little tip that might help you get back on track.</p> 
                    <a href="/" class="btn btn-primary mt-3"><i class="material-icons md-keyboard_return"></i> Back to Home</a>
                    <br><br>

                </div>
            </div>
        </div>
    </div>
<%- include('../layouts/footer.ejs') %>
